html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 990px;
    padding: 0 15px;
    margin: 0 auto;
}

.line{
    border-bottom: 1px solid gray;
}

/* section preloader start  */
.p_prldr{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0c1b21;
}
#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 30;
}    

.preloader{
    position: relative;
    width: 250px;
    height: 250px;
    filter: url(#gooey);
    animation: animate 16s linear infinite;
}

.preloader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(calc(45deg * var(--i)));
}

.preloader span::before{
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #c7eeff, #03a9f4);
    border-radius: 50%;
    box-shadow: 0 0 30px #00bcd4;
}

.rotate{
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(-0.2s * var(--j));
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

svg{
    width: 0;
    height: 0;
}

/* section preloader end  */


/* header start  */
.header{
    height: 150px;
    margin-bottom: 15px;
}
.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header-info__img{
    background-image: url('../img/image-1.jpg');
    background-repeat: no-repeat;
    background-position: 25% 0;
    background-size: cover;
    width: 15%;
    height: 120px;
}

.header-info__block-one{
    width: 30%;
    height: 120px;
    margin: 0 15px;
    background-color: gray;
}

.header-info__block-two{
    width: 50%;
    height: 120px;
    background-color: gray;
}
/* header end  */


/* section info start  */
.info-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.sidebar__btn{
    display: none;
    border: none;
    background-color: inherit;
    padding-left: 25px;
}
.sidebar__btn::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../img/sidebar-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar{
    position: relative;
}
.sidebar-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    margin-right: 15px;
    height: 100%;
}
.sidebar__block-one{
    width: 180px;
    min-height: 260px;
    background-color: gray;

}
.sidebar__img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 180px;
    height: 170px;
}

.info-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info__block-one{
    width: 100%;
    min-height: 230px;
    background-color: gray;
}
.info__gallery-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    grid-gap: 15px 15px;
    counter-reset: counter;
    padding-top: 16px;
}

.info__gallery-item{
    height: 125px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__gallery-link::before{
    content: counter(counter);
    counter-increment: counter;
    position: absolute;
    font-weight: 700;
    font-size: 25px;
    line-height: 112px;
    color: #8539fd;
    top: -43px;
    right: 0;
}

.info__gallery-link{
    padding: 3px 20px 3px;
    font-size: 1em;
    line-height: 42px;
    background-color: #0E0E0E;
    color: #fff;
    opacity: 0;
    transition: all .3s;
    z-index: 20;
}
.info__gallery-item:hover .info__gallery-link{
    opacity: 1;
}
.info__gallery-item:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14,14,14,0.8);
}

.info-content__box{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.info-content__box-block{
    width: 50%;
    height: 230px;
    background-color: gray;
}

.info-content__box-block:first-child{
    margin-right: 15px;
}
/* section info end  */



/* footer start  */
.footer{
    padding-bottom: 15px;
}
.footer-contacts{
    display: flex;
    justify-content: space-between;

}
.footer-box{
    display: flex;
    align-items: center;
}
.footer-box__block{
    width: 306.6px;
    min-height: 180px;
    background-color: gray;
    margin-right: 20px;
}

.footer-links{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-links__block{
    width: 306.6px;
    min-height: 80px;
    background-color: gray;
}
.footer-links__block:last-child{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
/* footer end  */


@media screen and (max-width: 1006px){
    .footer-box{
        justify-content: space-between;
        width: 1006px;
    }
    .footer-box__block{
        margin: 0;
    }
    .footer-contacts{
         flex-wrap: wrap;
    }
    .footer-links{
        width: 1006px;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-links__block:last-child {
        margin: 0;
    }

    
}

@media screen and (max-width: 700px){
    .sidebar__btn{
        display: block;
        position: absolute;
        top: -10px;
    }
    .sidebar-inner--active{
        display: block !important;
        padding-left: 20px;
        padding-top: 10px;
        margin-top: 19px;
        width: 91.8vmin;
        height: 470px;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,28,1) 200px, rgba(0,212,255,1) 100%);
        z-index: -1;
    }
    .sidebar-inner{
        display: none;
    }
    .info-content{
        margin-top: 19px;
    }
    .info-content--active{
        display: none;
    }
    .sidebar__block-one{
        margin-bottom: 20px;
    }
}
/* media footer start */
@media screen and (max-width: 680px){
    .footer-box__block{
        width: 230px;
    }
    .footer-links__block{
        width: 230px;
    }
}

@media screen and (max-width: 522px){
    .footer-box__block{
        height: 260px;
        width: 190px;
    }
    .footer-links__block{
        width: 190px;
    }

}

@media screen and (max-width: 426px){
    .footer-box{
        flex-wrap: wrap;
    }
    .footer-links{
        flex-wrap: wrap;
    }
    .footer-box__block:last-child{
       margin: 10px 0;
    }
    .footer-links__block:last-child{
        margin-top: 10px;
    }
}

@media screen and (max-width: 425px){
    .footer-box__block{
        width: 100%;
    }
    .footer-links__block{
        width: 100%;
    }
}
